# Entornos virtuales
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimizados de Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Datasets pesados (superan el límite de 100MB de GitHub)
# Los datos se descargan desde Roboflow mediante el enlace en el README
Final Grape Leaf Disease Detection and Classification.v1i.yolov11/
dataset_monoclass_powdery_mildew/
dataset_detect_field/
HERMOS/
Niphad_Grapeleaf_Disease_Dataset/
Downy Mildew and Powdery Mildew Symptoms/
inspeccion_ground_truth/
inspeccion_hermos/
inspeccion_ghiani/
inspeccion_ghiani_2022/
inspeccion_dataset_detect/
test_visual_predictions/
*.cache
*.cache.npy
labels.cache

# Archivos de pesos pesados (Pesos de PyTorch / ONNX / TensorRT)
*.pt
*.pth
*.onnx
*.engine
weights/
yolo11s-seg.pt
yolo11n-seg.pt
yolo11m-seg.pt

# Salidas de entrenamiento y predicciones locales
runs/
predicciones_visuales/
test_link/

# Configuraciones de IDE y Sistema Operativo
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
Desktop.ini

# Logs y temporales
*.log
scratch/
